html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 14px;
  overflow: hidden;
}

#root {
  display: flex;
  height: 100%;
  margin: 0 auto;
}

.loader {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

body.loading .loader {
  display: flex;
}

.chart-column {
  flex: 1 0 auto;
  min-width: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  margin: 0 4.5% 4% 2%;
  margin-top: 1%;
}

.legend-column {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  width: 27%;
  min-width: 1px;
  max-width: 260px;
  transform: translate3d(0,0,0);
  margin-bottom: 8%;
}
.legend-column_header {
  flex: 0 0 auto;
  min-height: 1px;
  position: relative;
  font-weight: bold;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}
.legend-switch.__all {
  margin-right: 0.5em;
}
.legend-switch.__custom {
  margin-left: 0.5em;
}
.legend-column_header:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background-image: url('./shadow.png');
  background-size: cover;
  transition: all 0.1s linear;
}
.legend-column_header.__flying:before {
  bottom: -0.5em;
  height: 0.5em;
}
.legend-switch.__disabled {
  color: #DDDDDD;
}
.legend-items {
  min-height: 1px;
  overflow: auto;
}
.legend-item {
  display: flex;
  justify-content: space-between;
}
.legend-item input {
  flex: 0 0 auto;
  min-width: 1px;
}
.legend-item label {
  flex: 1 1 auto;
  min-width: 1px;
  margin-right: 1em;
}
.legend-item svg {
  flex: 0 0 auto;
  width: 50px;
  height: 20px;
}
.legend-item input {
  margin-right: 0.5em;
}
.legend-item:hover {
  background-color: #E5E5E5;
}

.chart .domain {
  display: none;
}
.chart .data-area-label {
  font-size: 1.5em;
}
.chart.__main {
  margin-bottom: 8%;
  min-width: 100%;
  height: 40%;
}
.chart.__main .axis {
  font-size: 1.6em;
  /* D3 inserts it's own font as an attribute, overriding here */
  font-family: 'PT Sans', sans-serif;
}
.chart.__main .chart-label {
  font-size: 2em;
  margin: 1em 0 1em -1em;
}
.chart.__small {
  min-width: 24%;
  height: 16%;
}
.chart.__small text {
  font-size: 0.75em;
}
.chart-label {
  font-size: 0.93em;
  font-weight: bold;
  font-family: 'PT Sans Caption', sans-serif;
}

.data-area-label, .data-area-lines, .data-area-extremas {
  /* Don't mess up with hovering */
  pointer-events: none;
}

.data-column .highlight {
  opacity: 0;
}
.data-column:hover .highlight {
  opacity: 0.1;
}
.data-area.__dim .data-column:hover .highlight {
  opacity: 0.25;
}

.hide {
  display: none;
}
